.content-nav {
  background: #3C3C3C;
  position: fixed;
  top: 60px;
  width: 100%;
  height: 85px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }

.content-nav_title {
  margin: 8px 10px;
  text-align: center;
  font-size: 32px; }

.content-nav_nav {
  padding: 0;
  margin: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  list-style-type: none; }
  .content-nav_nav-item {
    width: calc(100%/4);
    cursor: pointer;
    height: 34px;
    font-size: 18px; }
    .content-nav_nav-item:hover {
      border-bottom: 4px solid #636377; }
    .content-nav_nav-item--active {
      border-bottom: 4px solid #008061; }
      .content-nav_nav-item--active:hover {
        border-bottom-color: #008061; }
