.header_container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 23;
  display: flex;
  align-items: center;
  height: 60px;
  background: #00805E;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
  .header_container .container {
    width: 100%; }

.header_content {
  display: flex;
  align-items: center;
  height: 40px; }

.header_menu-icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  padding: 16px 11px;
  cursor: pointer; }
  .header_menu-icon:hover {
    background: #3F3F46; }
  .header_menu-icon:active {
    background: #3F3F46; }
  .header_menu-icon-active {
    background: #3F3F46; }

.header_menu-icon-img {
  height: 28px;
  width: 38px; }

.header_logo {
  display: inline-block; }
  .header_logo h1 {
    margin: 0;
    color: white; }

@media (max-width: 991px) {
  .main-menu_display-header {
    display: none; } }

.header_search-section {
  display: inline-flex;
  margin: 0 10px;
  transition: box-shadow 300ms; }
  .header_search-section--active {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.14), 0 3px 3px rgba(0, 0, 0, 0.28); }
    .header_search-section--active .search-bar_input {
      background: whitesmoke;
      color: black;
      border-color: #57a8fd; }
    .header_search-section--active .search-bar_icon-container {
      border-color: #57a8fd;
      background-color: #57a8fd; }
      .header_search-section--active .search-bar_icon-container:hover {
        background-color: #4394e6; }

.header_session-section {
  display: inline-block;
  padding: 0 5px; }
  @media (max-width: 768px) {
    .header_session-section {
      display: none; } }

.mobile_session-section_container {
  display: none;
  background: #7d7d7d;
  height: 50px;
  position: absolute;
  width: 100%; }
  @media (max-width: 768px) {
    .mobile_session-section_container {
      display: flex;
      align-items: center;
      justify-content: center; } }
