.search-bar {
  border: none;
  width: 240px; }

.search-bar_input {
  color: white;
  border-radius: 4px 0 0 4px;
  width: 100%;
  height: 40px;
  background: #00A088;
  border: 2px solid #08977b;
  border-right: none;
  padding: 8px; }
  .search-bar_input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white; }
  .search-bar_input::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  .search-bar_input:-ms-input-placeholder {
    /* IE 10+ */
    color: white; }
  .search-bar_input:-moz-placeholder {
    /* Firefox 18- */
    color: white; }

.search-bar_icon-container {
  height: 40px;
  width: 40px;
  background: #00A088;
  border: 2px solid #08977b;
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer; }
  .search-bar_icon-container:hover {
    background: #14ab95; }
  .search-bar_icon-container .search-bar_icon {
    margin: 6px; }
