.flex_h-end {
  display: flex;
  justify-content: flex-end; }

.flex_v-center {
  display: flex;
  align-items: center; }

.testing {
  width: 42.85714%;
  display: flex; }

body {
  background: #1E1E1E;
  color: #F2F2F2;
  margin-top: 60px; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }
