div(class="content-nav")
    div(class="content-nav_title-container")
        h3(class="content-nav_title") Title
    div(class="content-nav_nav-container")
        ul(class="content-nav_nav")
            li(class="content-nav_nav-item") Tab 1
            li(class="content-nav_nav-item") Tab 2
            li(class="content-nav_nav-item") Tab 3
            li(class="content-nav_nav-item") Tab 4
    div(class="content-container")
        include ../content/content-example.pug
    include ../footer/footer.pug