html
    head
        //<meta charset="UTF-8">
        title Christian's Page
    body
        include ../components/header/header.pug

        h1 hello
        p Christian

        include ../components/footer/footer.pug


        
        // Assets:

        // build:css css/main-styles.min.css
        link(rel="stylesheet" type="text/css" href="css/styles.css")
        // endbuild

        // build:js js/main-script.min.js
        script(src="js/logic.js")
        script(src="js/fdf.js")
        // endbuild 