div(class="header_container")
    div(class="header_menu-icon")
        img(class="header_menu-icon-img" src="./imgs/main-menu_icon.png")
    div(class="container")
        div(class="row")
            div(class="header_content col-xs-6")
                div(class="logo header_logo")
                    h1 LOGO
                div(class="main-menu_display-header")
                    include ../main-menu/main-menu.pug

            div(class="header_content col-xs-6 flex_h-end flex_v-center")
                div(class="header_search-section")
                    include ../search-bar/search-bar.pug

                div(class="header_session-section")
                    include ../session-section/session-section.pug
div(class="mobile_session-section_container")
    include ../session-section/session-section.pug
