div(class="session-section_log-buttons")
    div(class="session-section_log-in")
        button(class="log-button log-button_log-in") Log In
    div(class="session-section_sign-up")
        button(class="log-button log-button_sign-up") Sign Up
div(class="session-section")
    div(class="session-section_picture")
    div(class="session-section_description")
    div(class="session-section_more-options")