@import "variables";

.header_container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 23;
    display: flex;
    align-items: center;
    height: 60px;
    background: $main-color;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

    .container{
        width: 100%;
    }
}

.header_content{
    display: flex;
    align-items: center;
    height: 40px;
}

.header_menu-icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 16px 11px;
    cursor: pointer;

    &:hover{
        background: #3F3F46;
    }

    &:active{
        background: #3F3F46;
    }

    &-active{
        background: #3F3F46;
    }
}

.header_menu-icon-img{
    height: 28px;
    width: 38px;
}

.header_logo{
   display: inline-block;
    
    h1{
        margin: 0;
        color: white;
    }
}

.main-menu_display-header{
    @media (max-width: 991px) {
        display: none;
    }
}

.header_search-section{
    display: inline-flex;
    margin: 0 10px;
    transition: box-shadow 300ms;

    &--active{
        box-shadow: 0 0px 2px rgba(0,0,0,.14), 0 3px 3px rgba(0,0,0,.28);

        .search-bar_input{
            background: whitesmoke;
            color: black;
            border-color: rgb(87, 168, 253);
        }

        .search-bar_icon-container{
            border-color: rgb(87, 168, 253);
            background-color: rgb(87, 168, 253);

            &:hover{
                background-color: rgb(67, 148, 230);
            }
        }
    }
}

.header_session-section{
    display: inline-block;
    padding: 0 5px;

    @media (max-width:768px) {
        display: none;
    }
}

.mobile_session-section_container{
    display: none;
    background: #7d7d7d;
    height: 50px;
    position: absolute;
    width: 100%;
    //box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    @media (max-width:768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}