.header_container{
    position: relative;
    z-index: 23;
    display: flex;
    align-items: center;
    height: 60px;
    background: #00805E;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.header_content{
    display: flex;
    align-items: center;
    height: 40px;
}

.header_menu-icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 16px 11px;
    cursor: pointer;
}

.header_menu-icon-img{
    height: 28px;
    width: 38px;
}

.header_logo{
   display: inline-block;
    
    h1{
        margin: 0;
        color: white;
    }
}

.main-menu_display-header{
    @media (max-width: 991px) {
        display: none;
    }
}

.header_search-section{
    display: inline-flex;
    padding: 0 10px;
}

.header_session-section{
    display: inline-block;
    padding: 0 5px;
}