
.main-menu{
    list-style-type: none;
    margin: 4px 0 0 0;
    padding: 0;
    color: whitesmoke;
    display: inline-flex;
    cursor: pointer;

    @media (max-width: 991px) {
        display: block;
    }
}

.main-menu_item{
    margin: auto 15px;
    border-bottom: 2px solid green;    

    @media (max-width: 991px) {
        padding: 15px 0;
        margin: 0;
        border-bottom: none;
        text-align: center;
    }

    &:hover{
        border-bottom: 2px solid;

        @media (max-width: 991px) {
            border-bottom: none;
            background: blue;
        }
    }
}