// *{
// 	margin: 0;
// 	padding: 0;
// 	list-style: none;
// 	text-decoration: none;
// 	border: none;
// 	outline: none;
// }

.flex_h-end{
    display: flex;
    justify-content: flex-end;
}

.flex_v-center{
    display: flex;
    align-items: center;
}

.testing {
    width: percentage(3/7);
    display: flex;
}

body {
    //background: #F2F2F2;
    background: #1E1E1E;
    color: #F2F2F2;
    margin-top:60px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}