div(class="search-bar")
    input(class="search-bar_input" placeholder="Search")
div(class="search-bar_icon-container")
    img(class="search-bar_icon" src="//www.gstatic.com/images/icons/material/system/1x/search_white_24dp.png")