div(class="side-menu_container col-lg-3 col-md-4 col-sm-6 col-xs-9")
        div(class="main-menu_display-side-menu")
                include ../main-menu/main-menu.pug
        div(class="side-menu")
                li(class="side-menu_item") Side Link 1
                li(class="side-menu_item") Side Link 2
                li(class="side-menu_item") Side Link 3
                li(class="side-menu_item") Side Link 4